[build]
  publish = "."
  functions = "netlify/functions"
  environment = { SECRETS_SCAN_OMIT_KEYS = "LOG_LEVEL" }

[[redirects]]
  from = "/.netlify/functions/*"
  to = "/.netlify/functions/:splat"
  status = 200
  force = true